@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RM Typerighter old';
  src: url('RM-Typerighter-old.woff2') format('woff2'),
      url('RM-Typerighter-old.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.bg-paper {
  background-image: url('paper-mobile.jpg');

  @screen lg {
    background-image: url('paper-desktop.jpg');
  }
}

.bg-full {
  background-size: 100%;
}

.bevel-corners {
  position:relative;
  overflow:hidden;
  clip-path: polygon(
    0 20px,
    20px 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0% calc(100% - 20px),
    0% 20px
  )
}

.fancybox__container {
  --fancybox-color: #4d433c !important;
}

.fancybox__content>.f-button.is-close-btn {
  top: 15px !important;
  right: 15px !important;
  --f-button-color: #4d433c !important;
  --f-button-bg: transparent !important;
}