@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'EngraversGothicBold';
  src: url('EngraversGothicBold.woff2') format('woff2'),
      url('EngraversGothicBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
